@font-face {
  font-family: TS Block;
  src: url("../../assets/fonts/TS_Block.ttf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: Bahnschrift;
  src: url("../../assets/fonts/BAHNSCHRIFT.TTF");
}

h1 {
  font-family: TS Block;
  position: absolute;
}

h2 {
  position: absolute;
  width: 242.24px;
  height: 16.66px;
  left: calc(50% - 242.24px / 2 + 2.28px);
  top: 99.99px;

  font-family: Bahnschrift;
  font-size: 13.8822px;
  line-height: 16px;
  /* identical to box height */

  letter-spacing: 0.1em;
}

.rollerPage {
  position: relative;

  height: 2024px;
  left: 0px;
  top: 0;
  margin-right: 0;
}

.rollerTitle {
  position: absolute;
  width: 382.46px;
  height: 55.53px;
  left: calc(50% - 382.46px / 2 - 5.36px);
  top: 49.32px;
  margin: 0;

  font-family: TS Block;
  font-style: normal;
  font-weight: bold;
  font-size: 48.5878px;
  line-height: 56px;
  /* identical to box height */

  color: #000000;
}

.seeHowItWorks {
  position: absolute;
  width: 751.03px;
  height: 55.53px;
  left: 315px;
  bottom: 425.47px;

  font-family: TS Block;
  font-style: normal;
  font-weight: bold;
  font-size: 48.5878px;
  line-height: 56px;
}

.subtittle {
}

/* files in frebase storage */

.fur {
  position: absolute;
  width: 410.91px;
  height: 504.76px;
  left: calc(50% - 410.91px / 2 - 78.59px);
  top: 241.86px;
}

.front_pink_big {
  position: absolute;
  width: 111.06px;
  height: 508.78px;
  left: calc(50% - 111.06px / 2 - 5.01px);
  top: 211.75px;
}

.highlights_top_blue {
  position: absolute;
  width: 403.28px;
  height: 397.03px;
  left: calc(50% - 403.28px / 2 - 432.24px);
  top: calc(50% - 397.03px / 2 + 10.52px);
}

.highlights_spin_pink {
  position: absolute;
  width: 403.97px;
  height: 400.5px;
  left: calc(50% - 403.97px / 2 - 4.51px);
  top: 822px;
}

.highlights_pull_blue {
  position: absolute;
  width: 411.61px;
  height: 397.03px;
  left: calc(50% - 411.61px / 2 + 427.3px);
  top: calc(50% - 397.03px / 2 + 10.52px);
}
.sofa {
  position: absolute;
  width: 762.13px;
  height: 410.22px;
  left: calc(50% - 762.13px / 2 - 38.33px);
  bottom: 88.04px;
}

.desc1 {
  position: absolute;
  width: 535.85px;
  height: 73.58px;
  left: calc(50% - 535.85px / 2 - 365.95px);
  top: 1279.05px;
}

.dragrollblue {
  position: absolute;
  width: 24.99px;
  height: 110.36px;
  left: calc(50% - 24.99px / 2 - 446.47px);
  bottom: 431.62px;

  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.dragrollpink {
  position: absolute;
  width: 24.99px;
  height: 110.36px;
  left: calc(50% - 24.99px / 2 - 400.66px);
  bottom: 431.62px;

  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

/* files in local files */

.backButton {
  position: absolute;
  width: 35.4px;
  height: 47.89px;
  left: 61.08px;
  top: 320.02px;
}

.addToCartLong {
  position: absolute;
  height: 29.15px;
  left: 75.78%;
  right: 7.86%;
  top: calc(50% - 29.15px / 2 - 611.51px);
  cursor: pointer;
}
.addToCart {
  position: absolute;
  width: 56.92px;
  height: 75.66px;
  right: 84.29px;
  bottom: 286.34px;
}

.inStock {
  position: absolute;
  width: 106px;
  height: 17px;
  left: calc(50% - 106px / 2 + 20.5px);
  top: 135px;
}

.likeIcon {
  position: absolute;
  width: 32.62px;
  height: 32.62px;
  left: 962.73px;
  top: calc(50% - 29.15px / 2 - 610px);
}
.paymentDesc {
  position: absolute;
  width: 342.2px;
  height: 79.82px;
  left: 957.87px;
  top: calc(50% - 29.15px / 2 - 710px);
}

.dog {
  position: absolute;
  width: 272.93px;
  height: 438px;
  right: 0;
  top: calc(50% - 438px / 2 + 243px);
}
.dragme {
  position: absolute;
  left: 315.16px;
  bottom: 525.34px;
}
.ellipseblue {
  position: absolute;
  width: 882.34px;
  height: 851.91px;
  left: -524.18px;
  top: calc(50% - 851.91px / 2 - 131.88px);
}
.ellipsepink {
  position: absolute;
  width: 882.34px;
  height: 851.91px;
  right: 0;
  bottom: -150.28px;
}
.sayings {
  position: absolute;
  width: 250;
  height: 150px;
  right: 180.17px;
  top: calc(50% - 80.52px / 2 + 240.05px);
}

.pawprint {
  position: absolute;
  width: 619.49px;
  height: 297.77px;
  left: calc(50% - 619.49px / 2 + 350px);
  bottom: -63.77px;
}
.fur1 {
  position: absolute;
  width: 70.11px;
  height: 145.76px;
  left: calc(50% - 70.11px / 2 + 270.95px);
  bottom: 196.94px;
}
.fur2 {
  position: absolute;
  width: 112.45px;
  height: 138.13px;
  left: calc(50% - 112.45px / 2 - 154.28px);
  bottom: 292.87px;
}

.backButton2 {
  position: absolute;
  width: 52.06px;
  height: 64.55px;
  left: 43.04px;
  top: 1668px;
}

/* <img className="dog" src={dog} />
      <img className="dragme" src={dragme} />
      <img className="ellipseblue" src={ellipseblue} />
      <img className="ellipsepink" src={ellipsepink} />
      <img className="pawprint" src={pawprint} />
      <img className="sayings " src={sayings} />*/
