@font-face {
  font-family: Menlo;
  src: "../../assets/fonts/Menlo-Regular.ttf";
}

.collectionPageTitle {
  position: relative;
  margin-top: 70px;
  margin-bottom: 0;
  width: 856px;
  height: 80px;

  font-family: TS Block;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 80px;

  color: #000000;
}

.collectionPageSubTitle {
  width: 558px;
  height: 29px;
  margin-top: 10px;
  margin-bottom: 50px;

  font-family: Menlo;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 29px;
  text-align: center;

  color: #000000;
}

.collectionPage {
  display: flex;
  margin-bottom: 120px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .itemsContainer {
    position: relative;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 50px;

    .itemContainer {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 284px;
      height: 512px;

      .imgContainer {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 285.67px;
        height: 409.57px;

        .img {
          max-width: 100%;
          max-height: 100%;
          transition: 1s;
          cursor: pointer;
        }
        .img:hover {
          transform: scale(1.1);
        }
      }

      .descriptionContainer {
        position: absolute;

        width: 286px;
        height: 119px;
        left: -2px;
        top: 411px;

        .itemName {
          margin: 0;
          position: absolute;
          width: 140px;
          height: 15px;
          left: 2px;
          top: 16px;

          font-family: nimbus-sans-extended, sans-serif;
          font-style: normal;
          font-weight: 900;
          font-size: 20px;
          line-height: 24px;
        }
        .itemDescription {
          margin: 0;
          position: absolute;
          height: 14px;
          left: 4px;
          bottom: 64px;

          font-family: Menlo;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
        }
        .itemPrice {
          margin: 0;
          position: absolute;
          left: 74.48%;
          right: 0%;
          top: 10.92%;
          bottom: 73.11%;

          font-family: Menlo;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;
          text-align: center;

          color: black;
        }

        .itemSizeBoxesContainer {
          position: absolute;
          display: flex;
          flex-direction: row;
          top: 65px;
          .itemSizeBox {
            display: flex;
            margin: 3px;
            height: 30px;
            width: 30px;
            border-style: solid;
            border-width: 0.5px;
            justify-content: center;
            align-items: center;
            .itemSize {
              color: black;
              text-align: center;
              margin: 0;
            }
          }
        }
      }
    }
  }

  .price {
    font-size: 20px;
    color: grey;
  }
}
