@font-face {
  font-family: FreightBigProBook-Regular;
  src: "../../assets/fonts/FreightBigBook.ttf";
}

.CheckoutPageContainer {
  position: relative;
  width: 1335px;
  height: 694px;
  left: 0px;
  top: 0px;
  margin-bottom: 100px;
}
.PaidOrdersContainer {
  position: relative;
  width: 318px;
  height: 337px;
  left: calc(50% - 318px / 2 + 159.5px);
  top: 180px;
}
.itemImg {
  width: 164.11px;
  height: 147.42px;
  left: calc(50% - 164.11px / 2 - 69.88px);
  top: -16.17px;
}

.confirmTitle {
  position: absolute;
  width: 622.35px;
  height: 39.64px;
  left: calc(50% - 622.35px / 2 + 7.35px);
  top: 80.19px;
  margin: 0;

  font-family: TS Block;
  font-style: normal;
  font-weight: bold;
  font-size: 34.7682px;
  line-height: 40px;
  /* identical to box height */

  color: #000000;
}

.confirmSubtitle {
  position: absolute;
  width: 316.39px;
  height: 16.69px;
  left: calc(50% - 316.39px / 2 - 145.63px);
  top: 115.66px;

  margin: 0;

  font-family: Bahnschrift;
  font-style: normal;
  font-weight: normal;
  font-size: 13.9073px;
  line-height: 17px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: #000000;
}

.confirmTickIcon {
  position: absolute;
  width: 50.07px;
  height: 48.68px;
  left: calc(50% - 50.07px / 2 - 338.59px);
  top: 87.15px;
}

.petiversePackaging {
  position: absolute;
  width: 371px;
  height: 358px;
  right: 25px;
  bottom: -110px;
}

.referenceNumberTitle {
  position: absolute;
  height: 15.3px;
  left: calc(50% - 153.68px / 2 - 280.53px);
  top: 196.32px;
  margin: 0;

  font-family: FreightBigProBook-Regular;
  font-style: normal;
  font-weight: normal;

  font-size: 13.9073px;
  line-height: 15px;
  letter-spacing: 0.1em;

  color: #958e8e;
}

.referenceNumber {
  position: absolute;
  width: 274.67px;
  height: 58.41px;
  left: calc(50% - 274.67px / 2 - 222.81px);
  top: 214.4px;
  margin: 0;

  font-family: Bahnschrift;
  font-style: normal;
  font-weight: normal;
  font-size: 48.6755px;
  line-height: 58px;
  /* identical to box height */

  letter-spacing: 0.1em;

  color: #000000;
}

.referenceAddress {
  position: absolute;
  width: 236.42px;
  height: 116.82px;
  left: 310.13px;
  top: 286.72px;

  font-family: Bahnschrift;
  font-style: normal;
  font-weight: normal;
  font-size: 13.9073px;
  line-height: 17px;
  letter-spacing: 0.1em;

  color: #000000;
}

.continueShoppingBtn {
  position: absolute;
  height: 15.99px;
  left: 307.35px;
  top: 613.54px;

  border: none;

  font-family: TS Block;
  font-style: normal;
  font-weight: bold;
  font-size: 13.9073px;
  line-height: 16px;
  /* identical to box height */

  color: #6f6f6f;
}
