.ham {
  position: absolute;
  width: 31.93px;
  height: 34.71px;
  left: 50.67px;
  top: 32.62px;
}
.delivery {
  position: absolute;
  width: 196.43px;
  height: 40.95px;
  left: calc(50% - 196.43px / 2 - 464.01px);
  top: 32.62px;
}
